/* General Style */
/* End of General Style */

/* Navigation Bar */

/* End of Navigation Bar */

/* Header */
.header .header-content {
	padding-top: 8rem;
	padding-bottom: 4rem;
	text-align: center;
}

.header .container {
    text-align: justify;
}

.header .text-container{
	margin-top: 2rem;
}

.header .title {
	margin-bottom: 1.125rem;
	font-size: 2.5rem;
	line-height: 3.125rem;
}

.header .description {
	margin-bottom: 1.875rem;
}
/* End of Header */

/* Price */
.price .text-container {
	text-align: center;
}
/* End of Price */